<nav class="navbar navbar-dark bg-dark sticky-bottom">
  <div class="container-fluid ">
    <div class="navbar-brand">
      <%=image_tag("logo.png",size: "125x40")%>
       <p>&copy; 2023 Vini Blog -All rights reserved.</p>
  </div>
</nav>